################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/18446a19-a8c3-4793-be31-9296dc096037.vsidx
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/d92daae2-e7b5-42c9-8621-5abebb6339c0.vsidx
/LocalizationFilesManager/LocalizationFilesManager/bin/Debug/net8.0-windows/CDriveDirs.txt
/LocalizationFilesManager/LocalizationFilesManager/bin/Debug/net8.0-windows/LocalizationFilesManager.dll
/LocalizationFilesManager/LocalizationFilesManager/bin/Debug/net8.0-windows/LocalizationFilesManager.exe
/LocalizationFilesManager/LocalizationFilesManager/bin/Debug/net8.0-windows/LocalizationFilesManager.pdb
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/3d3d363e-3215-4999-ada3-1a31f28eff15.vsidx
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/6247a5e9-7cc9-4355-9cac-a63364217277.vsidx
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/e06190c1-d246-415c-8edc-c52ffec6cec2.vsidx
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/eda976d4-2c34-4b21-9a77-8817cf278cbe.vsidx
/LocalizationFilesManager/.vs/LocalizationFilesManager/v17/.suo
/LocalizationFilesManager/.vs/LocalizationFilesManager/v17/DocumentLayout.json
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/9a6ef505-7d50-4335-82a4-ee61bf139323.vsidx
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/0b02d936-9180-444c-9a20-e595bd33b93e.vsidx
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/6468b0ba-6aa2-4b8f-b5c4-7fa3d49b1dd9.vsidx
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/8e1c3195-3cfd-44d0-97aa-bc32e42b6b89.vsidx
/LocalizationFilesManager/LocalizationFilesManager/obj/
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_1354t3df_wpftmp.AssemblyInfo.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_1354t3df_wpftmp.AssemblyInfoInputs.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_1354t3df_wpftmp.assets.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_1354t3df_wpftmp.csproj.BuildWithSkipAnalyzers
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_1354t3df_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_1354t3df_wpftmp.GlobalUsings.g.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_1354t3df_wpftmp.sourcelink.json
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_c3leut53_wpftmp.AssemblyInfo.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_c3leut53_wpftmp.AssemblyInfoInputs.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_c3leut53_wpftmp.assets.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_c3leut53_wpftmp.csproj.BuildWithSkipAnalyzers
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_c3leut53_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_c3leut53_wpftmp.GlobalUsings.g.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_c3leut53_wpftmp.sourcelink.json
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_MarkupCompile.i.lref
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_nvb3qbj2_wpftmp.AssemblyInfo.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_nvb3qbj2_wpftmp.AssemblyInfoInputs.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_nvb3qbj2_wpftmp.assets.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_nvb3qbj2_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_nvb3qbj2_wpftmp.GlobalUsings.g.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_nvb3qbj2_wpftmp.sourcelink.json
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_p3rw2cb3_wpftmp.AssemblyInfo.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_p3rw2cb3_wpftmp.AssemblyInfoInputs.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_p3rw2cb3_wpftmp.assets.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_p3rw2cb3_wpftmp.csproj.BuildWithSkipAnalyzers
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_p3rw2cb3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_p3rw2cb3_wpftmp.GlobalUsings.g.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_p3rw2cb3_wpftmp.sourcelink.json
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_rsdpt4k4_wpftmp.AssemblyInfo.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_rsdpt4k4_wpftmp.AssemblyInfoInputs.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_rsdpt4k4_wpftmp.assets.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_rsdpt4k4_wpftmp.csproj.BuildWithSkipAnalyzers
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_rsdpt4k4_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_rsdpt4k4_wpftmp.GlobalUsings.g.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_rsdpt4k4_wpftmp.sourcelink.json
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_z5hyileg_wpftmp.AssemblyInfo.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_z5hyileg_wpftmp.AssemblyInfoInputs.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_z5hyileg_wpftmp.assets.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_z5hyileg_wpftmp.csproj.BuildWithSkipAnalyzers
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_z5hyileg_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_z5hyileg_wpftmp.GlobalUsings.g.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_z5hyileg_wpftmp.sourcelink.json
/LocalizationFilesManager/LocalizationFilesManager/obj/LocalizationFilesManager_nvb3qbj2_wpftmp.csproj.nuget.dgspec.json
/LocalizationFilesManager/LocalizationFilesManager/obj/LocalizationFilesManager_nvb3qbj2_wpftmp.csproj.nuget.g.props
/LocalizationFilesManager/LocalizationFilesManager/obj/LocalizationFilesManager_nvb3qbj2_wpftmp.csproj.nuget.g.targets
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/ref/LocalizationFilesManager.dll
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/App.g.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/App.g.i.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/apphost.exe
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.AssemblyInfo.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.AssemblyInfoInputs.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.assets.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.csproj.CoreCompileInputs.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.csproj.FileListAbsolute.txt
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.designer.runtimeconfig.json
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.dll
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.GeneratedMSBuildEditorConfig.editorconfig
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.genruntimeconfig.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.pdb
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.sourcelink.json
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_MarkupCompile.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_MarkupCompile.i.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_MarkupCompile.lref
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/MainWindow.g.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/MainWindow.g.i.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/LocalizationFilesManager.csproj.nuget.dgspec.json
/LocalizationFilesManager/LocalizationFilesManager/obj/LocalizationFilesManager.csproj.nuget.g.props
/LocalizationFilesManager/LocalizationFilesManager/obj/project.assets.json
/LocalizationFilesManager/LocalizationFilesManager/obj/project.nuget.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/refint/LocalizationFilesManager.dll
/LocalizationFilesManager/.vs/ProjectEvaluation/localizationfilesmanager.metadata.v8.bin
/LocalizationFilesManager/.vs/ProjectEvaluation/localizationfilesmanager.projects.v8.bin
/LocalizationFilesManager/.vs/ProjectEvaluation/localizationfilesmanager.strings.v8.bin
/LocalizationFilesManager/.vs/LocalizationFilesManager/DesignTimeBuild/.dtbcache.v2
/LocalizationFilesManager/.vs/LocalizationFilesManager/v17/.futdcache.v2
