################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/18446a19-a8c3-4793-be31-9296dc096037.vsidx
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/d92daae2-e7b5-42c9-8621-5abebb6339c0.vsidx
/LocalizationFilesManager/LocalizationFilesManager/MainWindow.xaml.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/App.g.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/App.g.i.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/apphost.exe
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.AssemblyInfo.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.AssemblyInfoInputs.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.assets.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.csproj.CoreCompileInputs.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.csproj.FileListAbsolute.txt
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.designer.runtimeconfig.json
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.dll
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.GeneratedMSBuildEditorConfig.editorconfig
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.genruntimeconfig.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.pdb
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager.sourcelink.json
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_MarkupCompile.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_MarkupCompile.i.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_MarkupCompile.i.lref
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_MarkupCompile.lref
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/MainWindow.g.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/MainWindow.g.i.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/refint/LocalizationFilesManager.dll
/LocalizationFilesManager/LocalizationFilesManager/obj/LocalizationFilesManager.csproj.nuget.dgspec.json
/LocalizationFilesManager/LocalizationFilesManager/obj/LocalizationFilesManager.csproj.nuget.g.props
/LocalizationFilesManager/LocalizationFilesManager/obj/project.assets.json
/LocalizationFilesManager/LocalizationFilesManager/obj/project.nuget.cache
/LocalizationFilesManager/.vs/LocalizationFilesManager/DesignTimeBuild/.dtbcache.v2
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/0898ad7a-97aa-4b71-a0b2-bdc05f66becc.vsidx
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/6356492a-169f-4bc2-a713-ea9d4c5b0e99.vsidx
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/eb0fbee2-e002-4769-b929-f0fbbfc9eb7c.vsidx
/LocalizationFilesManager/.vs/LocalizationFilesManager/v17/.futdcache.v2
/LocalizationFilesManager/.vs/LocalizationFilesManager/v17/.suo
/LocalizationFilesManager/.vs/LocalizationFilesManager/v17/DocumentLayout.json
/LocalizationFilesManager/.vs/ProjectEvaluation/localizationfilesmanager.metadata.v8.bin
/LocalizationFilesManager/.vs/ProjectEvaluation/localizationfilesmanager.projects.v8.bin
/LocalizationFilesManager/.vs/ProjectEvaluation/localizationfilesmanager.strings.v8.bin
/LocalizationFilesManager/LocalizationFilesManager/bin/Debug/net8.0-windows/LocalizationFilesManager.dll
/LocalizationFilesManager/LocalizationFilesManager/bin/Debug/net8.0-windows/LocalizationFilesManager.exe
/LocalizationFilesManager/LocalizationFilesManager/bin/Debug/net8.0-windows/LocalizationFilesManager.pdb
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/ref/LocalizationFilesManager.dll
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/0898ad7a-97aa-4b71-a0b2-bdc05f66becc.vsidx
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/6356492a-169f-4bc2-a713-ea9d4c5b0e99.vsidx
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/0898ad7a-97aa-4b71-a0b2-bdc05f66becc.vsidx
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/6356492a-169f-4bc2-a713-ea9d4c5b0e99.vsidx
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/0898ad7a-97aa-4b71-a0b2-bdc05f66becc.vsidx
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/6356492a-169f-4bc2-a713-ea9d4c5b0e99.vsidx
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/7ff8d065-7988-4f76-8802-306155eab8c5.vsidx
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/b68467c3-0226-4e8f-a3c4-7098de744c9a.vsidx
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_10503yuh_wpftmp.AssemblyInfo.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_10503yuh_wpftmp.AssemblyInfoInputs.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_10503yuh_wpftmp.assets.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_10503yuh_wpftmp.csproj.BuildWithSkipAnalyzers
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_10503yuh_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_10503yuh_wpftmp.GlobalUsings.g.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_10503yuh_wpftmp.sourcelink.json
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_lvysgj11_wpftmp.AssemblyInfo.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_lvysgj11_wpftmp.AssemblyInfoInputs.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_lvysgj11_wpftmp.assets.cache
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_lvysgj11_wpftmp.csproj.BuildWithSkipAnalyzers
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_lvysgj11_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_lvysgj11_wpftmp.GlobalUsings.g.cs
/LocalizationFilesManager/LocalizationFilesManager/obj/Debug/net8.0-windows/LocalizationFilesManager_lvysgj11_wpftmp.sourcelink.json
/LocalizationFilesManager/.vs/LocalizationFilesManager/FileContentIndex/f4fe33d8-7aae-4601-811f-7431a22e32ca.vsidx
